#panel {
    margin-top: 1vh;
}

.looking-for-info {
    margin-bottom: 1vh;
    font-weight: bold;
}

.btn-show-test-panel {
    display: none;
}

.looking-for-panel {
    display: none;
    /* padding: 1vh; */
    margin-top: 2vh;
    /* margin-top: 2vh; */
    /* border: 1px solid #003366; */
    /* width: 20vw; */
}

.looking-for-info {
    /* padding: 1vh; */
    /* margin-top: 2vh; */
    /* border: 1px solid #003366; */
    /* width: 20vw; */
}

.result-info {
    font-weight: bold;
}

.result-panel {
    margin-top: 1vh;
    display: none;
}

.matches {
    color: green;
}

.no-match {
    color: red;
}